**In this notebook, I would like to predicting power fails in 10 days periods.**
===========================================
1. Generate a dataset for this task
2. Try out and evaluate models

In [2]:
#Import packages
import pytz
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta
import re
from IPython.display import Image
import itertools
import folium
import pandas as pd
import folium
from IPython.display import display
import geojson

In [4]:
#Set up Working Directory and Data Files
drive = 'G'
if drive == 'G':
    data_dir = '../01.data/'
    output_dir = '../05.outputs/'
else:
    data_dir = '..\\01.data\\'

In [183]:
#import box details
bx = pd.read_csv(data_dir + 'Boxes.csv', usecols=['LONG','LAT','ClusterId','BoxID'])
#rename some cols
bx.rename (columns={'LONG': 'lon','LAT':'lat'},inplace=True)

#Load data of hourly power events: data prpcessed by JP
d1 = pd.read_csv(data_dir + 'powerout.csv')

In [195]:
#change to datetime objects
d = pd.read_csv(data_dir + 'powerout.csv')
d['date_powerfailure2'] = d.apply(lambda x: datetime.strptime(x['date_powerfailure'], '%d%b%Y'), axis=1)

In [197]:
#Change duration to hours
d['duration_hrs'] = d['duration']/60

In [199]:
d.duration_hrs.mean()

3.7730619309334781

In [184]:
d2 = pd.read_csv(data_dir + 'powerout.csv',parse_dates=['date_powerfailure'])

In [176]:
#Kepp only required columns
to_keep = ['BoxID', 'date_powerfailure', 'date_powerfailure_hour',
       'date_powerback', 'date_powerback_hour','duration','POWERout']

d = d[to_keep]

#Change duration to hours
d['duration_hrs'] = d.apply(lambda x: x['duration']/60,axis=1)

#change to datetime objects
d['date_powerfailure'] = d.apply(lambda x: pd.datetime.strptime(x['date_powerfailure'], '%d%b%Y'), axis=1)

In [12]:
d_out.h

,BoxID,date_powerfailure,date_powerfailure_hour,date_powerback,date_powerback_hour,duration,POWERout,duration_hrs
808,1001,2016-11-26,16.0,28nov2016,16.0,2876.699951,1.0,47.944999
879,1001,2016-11-29,15.0,29nov2016,15.0,2.833333,1.0,0.047222
927,1001,2016-12-02,15.0,02dec2016,15.0,25.183332,1.0,0.419722
928,1001,2016-12-02,16.0,02dec2016,16.0,28.166666,1.0,0.469444
935,1001,2016-12-02,23.0,03dec2016,10.0,656.049988,1.0,10.934166

In [76]:
def compute_mean_duration (df, cut_off_date):
    '''
    The idea is to track number of hours when power is off not
    later than some given cut off date by box.
    @param:  df: the data file under consideration
    @param:  cut_off_date: upper date limit for considerin events
    @return: a pd.DataFrame object with two columns containing average duration of each box
    '''
    #select events earlier than cut off date
    d_date = d[d <= date]
    
    #selec only powerout events
    d_out = d[d.duration_hrs.notnull()]
    
    #Exclude all outages longer than 2 days ()
    print ('Leaving out %s events whose power out duration is over 24 hrs!!!' %(len(d_out[d_out.duration_hrs>=24])))
    d_out = d_out[d_out.duration_hrs < 24]
    #Group by box id and compute mean
    by_box = d_out.groupby(['BoxID'])['duration_hrs'].mean()
    
    return by_box.reset_index()

In [177]:
d.head()

,BoxID,date_powerfailure,date_powerfailure_hour,date_powerback,date_powerback_hour,duration,POWERout,duration_hrs
0,1001,2016-10-22,0.0,NaN,NaN,NaN,0.0,NaN
1,1001,2016-10-22,1.0,NaN,NaN,NaN,0.0,NaN
2,1001,2016-10-22,2.0,NaN,NaN,NaN,0.0,NaN
3,1001,2016-10-22,3.0,NaN,NaN,NaN,0.0,NaN
4,1001,2016-10-22,4.0,NaN,NaN,NaN,0.0,NaN

In [178]:
d2 = compute_mean_duration (d, '2016-10-30')

Leaving out 397 events whose power out duration is over 24 hrs

In [180]:
d2.head()

   BoxID  duration_hrs
0   1001      2.958106
1   1002      0.890012
2   1003      2.591902
3   1004      0.839474
4   1005      1.275770

In [66]:
#select events earlier than cut off date
date = pd.Timestamp('2016-10-30')

d_date = d[d.date_powerfailure <= date]
    
    #selec only powerout events
d_out = d[d.duration_hrs.notnull()]
    
#Exclude all outages longer than 2 days ()
    
print ('Leaving out %s ' %(len(d_out[d_out.duration_hrs>=24])))
    
#Group by box id and compute mean
    
by_box = d_out.groupby(['BoxID'])['duration_hrs'].mean()

return by_box.reset_index()

Leaving out 397

**Predict whether there was a power failure in the past 1 day**
================================================================

In [5]:
#Collapse data to daily level
#For all the hours of the day, I simply take the maximum POWERout val
d_dy = pd.DataFrame(d.groupby(['BoxID','date_powerfailure'])['POWERout'].max())
d_dy.reset_index(inplace=True)
d_dy.rename(columns={'POWERout': 'pwrout_1dy'},inplace=True)

In [17]:
d_dy.head()

   BoxID date_powerfailure  pwrout_1dy
0   1001        2016-10-22         0.0
1   1001        2016-10-25         0.0
2   1001        2016-10-26         0.0
3   1001        2016-10-27         0.0
4   1001        2016-10-28         0.0

In [6]:
def generate_train_data (d_raw,date,num_days,target):
    """
    This function returns a training dataset for prediction.

    @param d_raw: reasonably preprocessed data
    @param date: date threshold (when to stop) e.g., 2016/10/20
    @param num_days: Number of days to consider
    @return: Returns a dataset where each row represents a time interval(num_days) with corresponding
    @raise keyError: raises an exception
    """
    
    #create a list of num_days time intervals covering 2016 october-1 up date
    start = d_raw.date_powerfailure.min().date()
    end = datetime.strptime(date,'%Y/%m/%d').date()
    delta = timedelta(days=num_days)
    date_list = []

    while start <= end:
        tup = (start,start+delta)
        date_list.append (tup)

        start +=  timedelta(days=num_days+ 1)
        
    #Use cartesian product to create a dataframe of the dates created above
    #and boxID's
    date_boxid = pd.DataFrame(list(itertools.product(date_list,list(d_raw.BoxID.unique()))),columns=['dates','BoxID'])
    
    result =[]
    d_10dy = pd.DataFrame
    for date in list(date_list):
        #Select events in this range
        mask = (d_raw['date_powerfailure'] >= date[0]) & (d_raw['date_powerfailure'] <= date[1])
        d_raw_within = d_raw.loc[mask]
        
        #Summarise powerouts to num_days level
        d_raw_by_box = pd.DataFrame(d_raw_within.groupby(['BoxID'])[target].max())
        d_raw_by_box.reset_index(inplace=True)
        
        new_powerout_col = 'pwrout_' + str(num_days) + 'dy'
        d_raw_by_box.rename(columns={target: new_powerout_col},inplace=True)
        d_raw_by_box['dates'] = [date for i in range(d_raw_by_box.shape[0])]
        
        #create a df of summarised power failure events
        if len (result) == 0:
            d_10dy = d_raw_by_box
        else:
            d_10dy = d_10dy.append (d_raw_by_box)
        
        result.append (d_raw_by_box)
            
    #print (date_boxid.head())
    d2 = pd.merge (left = bx, right=d_10dy,on='BoxID', how='right')
    
    #Rearrange columns
    d2 = d2 [['dates','ClusterId','BoxID','LONG','LAT','pwrout_10dy']]
    
    #rename soem cols
    d2.rename (columns={'LONG': 'lon','LAT':'lat'},inplace=True)
    return d2

In [82]:
from math import sin, cos, sqrt, atan2, radians
def calculate_distance (pt1,pt2):
    """
    Computes distance between two geographic coordinates
    :param pt1: [Lat,Lon] for first point
    :param pt2: [Lat,Lon] for second
    :returns distance in km between the two points
    """
    # Radius of the earth in km (Hayford-Ellipsoid)
    EARTH_RADIUS = 6378388/1000
    
    d_lat = radians (pt1[0] - pt2[0])
    d_lon = radians (pt1[1] - pt2[1])
    
    lat1 = radians(pt1[0])
    lat2 = radians(pt2[0])
    
    a = sin(d_lat/2) * sin(d_lat/2) + \
        sin(d_lon/2) * sin(d_lon/2) * cos(lat1) * cos(lat2)
        
    c = 2 * atan2(sqrt(a), sqrt(1-a))

    return c * EARTH_RADIUS

In [8]:
def predict_with_nearest_neighbor (poi,points,target):
    """
    Computes distance between a point of interest and the rest of the points
    :param pt1: [Lat,Lon] for first point
    :param pt2: [Lat,Lon] for second
    :returns a dict object with BoxID and distances
    """
    #dict object to 
    distances = {}
    min = 500000.000
    min_bx = ''
    predicted_pwrstate = ''
    
    for bx in list(points.BoxID.unique()):
        d_bx = points[points.BoxID == bx]
        dist = calculate_distance (poi,[d_bx.lat,d_bx.lon])
        
        if dist < min:
            min = dist
            predicted_pwrstate = d_bx[target].values[0]
            min_bx = bx
    
    #print (predicted_pwrstate)
    return [min_bx, predicted_pwrstate, min]

In [181]:
#Inorder to get location of boxes, I merge the d_dy dataframe with boxes details
d3 = pd.merge (left = d2, right=bx, on='BoxID', how='left')

In [182]:
d3.head()

   BoxID  duration_hrs  ClusterId        lon        lat
0   1001      2.958106         10  68.763315  38.517016
1   1002      0.890012         12  68.845202  38.562540
2   1003      2.591902         41  69.600202  38.694671
3   1004      0.839474        122  70.314881  40.672851
4   1005      1.275770         94  69.385761  37.529461

In [173]:
def predict_with_nearest_neighbor2(df, target, num_neighbors, how):
    """
    Given a dataframe with lat/lon and average duration of power failure for that location
    this function finds the nearest point to the target point and return the avg power duration
    from the nearest point.
    :param df: pd.DataFrame with cols: BoxID, lat/lon, avg power failure duration (hours) 
    :param target: [lat,lon]-The unsampled location where the avg power failure duration needs to be estimated
    :param num_neighbors: NUmber of neighbors to use for the nearest neigbor
    :param how: The approach to use. If num_neighbors == 1, just return value of nearest point..otherwise, it can
    be 'mean', 'mode' or 'median'.
    :returns the avg power failure duration and posssibly the BoxID
    """
    #Just incase, remove all duplicate lat/lon pairs
    df = df.drop_duplicates (['lon','lat'])
    
    df ['dist'] = df.apply(lambda row: calculate_distance([row['lat'],row['lon']],target),axis=1)
    
    #In the simplest case, assign to this new location valaue based on a single nearest neighbor
    if num_neighbors==1:
        min_dist = df.dist.min()
        predicted = df[df.dist==min_dist].duration_hrs.values[0]
        return predicted
    else: #cases with more than one neighbor
        #Select only the 'num_neaighbors' nearest neighbors
        df = df.sort_values (by = ['dist'], ascending=True)[:num_neighbors]
        if how=='wmean':
            #Add weight based on distance
            df['dist_wght'] = 1/df['dist']
            
            #compute simple weighted mean
            wmean = (df['duration_hrs'] * df['dist_wght']).sum() /df.dist_wght.sum()
            
            return wmean
        elif how == 'mean':
            return df['duration_hrs'].mean (axis=0)
        elif how == 'median':
            return df['duration_hrs'].median (axis=0)

In [162]:
pred_nearest = predict_with_nearest_neighbor2(d3,[38.694671,69.600202],1,'mean')
pred_nearest

2.5919020426011929

In [170]:
pred_5_mean = predict_with_nearest_neighbor2(d3,[38.694671,69.600202],5,'mean')
pred_5_mean

     BoxID  duration_hrs  ClusterId        lon        lat   distances  \
2     1003      2.591902         41  69.600202  38.694671   75.442884
133   1148      3.934954         42  69.881006  38.805994  102.344461
19    1021      3.228125         39  69.313598  38.526070   47.938515
73    1085      6.633009         40  69.230206  38.530390   40.690747
186   1210      2.156907         43  69.910987  38.940772  110.269031

          dist
2     0.000041
133  27.348302
19   31.206777
73   37.017812
186  38.434994

3.7089793184602384

In [172]:
pred_5_wmean = predict_with_nearest_neighbor2(d3,[38.694671,69.600202],5,'wmean')
pred_5_wmean

     BoxID  duration_hrs  ClusterId        lon        lat   distances  \
2     1003      2.591902         41  69.600202  38.694671   75.442884
133   1148      3.934954         42  69.881006  38.805994  102.344461
19    1021      3.228125         39  69.313598  38.526070   47.938515
73    1085      6.633009         40  69.230206  38.530390   40.690747
186   1210      2.156907         43  69.910987  38.940772  110.269031

          dist
2     0.000041
133  27.348302
19   31.206777
73   37.017812
186  38.434994

2.591908937277184

In [110]:
d3[d3.dist==min_dist]

     BoxID  duration_hrs  ClusterId        lon        lat  distances      dist
0     1001      2.958106         10  68.763315  38.517016   0.000029  0.000029
36    1042      0.942250         10  68.763315  38.517016   0.000029  0.000029
169   1192      0.876840         10  68.763315  38.517016   0.000029  0.000029
266   1299      1.381085         10  68.763315  38.517016   0.000029  0.000029

In [ ]:
def simple_mean (df, idw):
    #add weighted duration-weights is 1/distance
    df['dist_wght'] = 1/df['dist']
    
    #compute mean based on weighted duration
    mean = df.['duration_hrs_wgted'].mean()
    
    if idw:
        wmean = (df['duration_hrs'] * df['dist_wght']).sum() /df.dist_wght.sum()
        
        return wmean

In [144]:
df['duration_hrs_wgted'] = df.apply (lambda x: 1/x['dist'] * x['duration_hrs'],axis=1)

In [152]:
df.duration_hrs_wgted.mean(axis = 0)

452.61447190486371

In [154]:
df['dist_wght'] = 1/df['dist']

(df['duration_hrs'] * df['dist_wght']).sum() /df.dist_wght.sum()

2.5919120370124613

In [156]:
df.duration_hrs.mean(axis = 0)

2.8184598818548512

**Finally lets see perfomance on separate locations....**
============================================================
Note that this evaluation is being done on sampled locations...just leaving them out

In [10]:
#Inorder to get location of boxes, I merge the d_dy dataframe with boxes details
d2 = pd.merge (left = d_dy, right=bx, on='BoxID', how='left')

In [19]:
#Export this data for quick demo
d2.to_csv('../01.data/powerouts_1dy.csv',index=False)

In [ ]:
#A batch Evaluation
evaluate_nearest_neighbor_predictor(d2, 50, 50)

In [14]:
folium?

**Make predictions on random locaitons on a map**
===================================================

In [30]:
def data2geojson2(df):
    features = []
    df.apply(lambda X: features.append( 
            geojson.Feature(geometry=geojson.Point((X["lon"], 
                                                    X["lat"])), 
                properties=dict(name=X["BoxID"], 
                                description=X["ClusterId"]))
                                    )
            , axis=1)
    
    return geojson.dumps(geojson.FeatureCollection(features), sort_keys=True)

In [33]:
coords = d2 [['lon','lat', 'ClusterId', 'BoxID']]
coords = coords.sort_values(by  = ['lon','lat'] )
coords['xy'] = coords.apply(lambda x: (x['lon'], x['lat']),axis=1)
xy = coords.xy.unique()

In [34]:
coords.head()

             lon        lat  ClusterId  BoxID                          xy
24596  38.533566  68.862146         21   1183  (38.53356644, 68.86214562)
24597  38.533566  68.862146         21   1183  (38.53356644, 68.86214562)
24598  38.533566  68.862146         21   1183  (38.53356644, 68.86214562)
24599  38.533566  68.862146         21   1183  (38.53356644, 68.86214562)
24600  38.533566  68.862146         21   1183  (38.53356644, 68.86214562)

In [42]:
j = coords.to_json()

In [43]:
j.lon

AttributeError: 'str' object has no attribute 'lon'

In [137]:
print ('Predicted power state-%s  from box at distance %s km '%(predicted[1],predicted[2]))

Predicted power state-0.0  from box at distance 145.9631965834707 km

In [138]:
boxid = predicted[0]

box_loc = [d2[d2.BoxID==boxid].lon,d2[d2.BoxID==boxid].lat]

In [26]:
xy = pd.read_csv('../01.data/powerouts_1dy.csv')
	
features = data2geojson2(xy)

In [32]:
def add_boxes_location():
    """Get location of the boxes and them to the map"""
    features = []
    df = pd.read_csv(data_path + 'powerouts_1dy.csv')
    df.apply(lambda X: features.append( 
            geojson.Feature(geometry=geojson.Point((X["lon"],X["lat"])), 
            properties=dict(name=X["BoxID"], description=X["ClusterId"])))
            , axis=1)
    
    return geojson.dumps(geojson.FeatureCollection(features), sort_keys=True)

In [174]:
df.head()

,BoxID,duration_hrs,ClusterId,lon,lat,distances,dist,duration_hrs_wgted,dist_wght
0,1001,2.958106,10,68.763315,38.517016,0.000029,75.442892,0.039210,0.013255
1,1002,0.890012,12,68.845202,38.562540,8.747834,67.287465,0.013227,0.014862
2,1003,2.591902,41,69.600202,38.694671,75.442884,0.000041,62909.492437,24271.554790
3,1004,0.839474,122,70.314881,40.672851,274.419717,228.569473,0.003673,0.004375
4,1005,1.275770,94,69.385761,37.529461,122.743293,131.068379,0.009734,0.007630