**Eletricity Data**
======================

**Set up Working Directory**
=============================

In [13]:
#Import packages
import pytz
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta
import re
from IPython.display import Image

In [14]:
#Set up Working Directory and Data Files
#Set up Working Directory and Data Files
drive = 'G'
if drive == 'G':
    data_dir = '../01.data/'
    output_dir = '../05.outputs/'
else:
    data_dir = '..\\01.data\\'

In [15]:
#Read in Data
print ("Reading data.......")
x = pd.read_csv(data_dir + 'sms.csv',dtype={'readable_date': str})

Reading data.......

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
#Drop unwanted columns
drop = ['sc_toa','read','status','locked', 'type',
        'subject','backup_date','protocol', 'date',
        'type', 'contact_name', 'service_center', 
        'backup_set']
x.drop(drop,inplace=True,axis=1)

In [17]:
#xorrect dates based on length of readable_date entry
def correct_dates(s):
    if len (s) == 24:
        return '12/'+ s[:2]+'/2016' + ' ' + s[-8:]
    elif len (s) == 23:
        return '12/'+ s[:2]+'/2016' + ' ' + '0'+ s[-7:]
    else:
        return s

**So readable date refers to date_sent or date_received (which isnt available here) Whats this date for?**

In [18]:
#Check dates and correct bad Dec, 2016 dates
x['readable_date'] = x.apply(lambda r: correct_dates(r['readable_date']),axis=1)

#Whats the time zone of time received-EDT?
x['datetime_rcvd'] = x.apply(lambda x: pd.datetime.strptime(x['readable_date'], '%m/%d/%Y %H:%M:%S'), axis=1)

#Set tizeone to 'America/New_York (EDT)-this is failing, need to know the time zone
#QUESTION: Clarify on time zones
#edt = pytz.timezone('America/New_York')
#x['datetime_rcvd'].tz_localize (tz = edt)

#Check again after corrections
x['date_len'] = x.apply(lambda x: len(x['readable_date']),axis=1)
print (x.date_len.value_counts())
x.drop(['date_len'],inplace=True,axis=1)

#create datetime-sent
stata_refdt = datetime.strptime("1/1/1960 00:00:00", '%m/%d/%Y %H:%M:%S')

#The constant 315637200000 is being added as some kind of offset based on stata code
x['datetime_sent'] = x.apply(lambda r: stata_refdt + timedelta(milliseconds = r['date_sent']+315637200000),axis=1)

19    144406
Name: date_len, dtype: int64

In [19]:
x.head()

,count,address,body,toa,date_sent,readable_date,datetime_rcvd,datetime_sent
0,144406,992935710546,Power Failure is running id 1301 | Monitoring...,null,1.476850e+12,10/19/2016 10:11:54,2016-10-19 10:11:54,2016-10-19 09:06:40
1,144406,992935710929,Power Failure is running id 1018 | Monitoring...,null,1.476850e+12,10/19/2016 10:12:07,2016-10-19 10:12:07,2016-10-19 09:06:40
2,144406,992935710544,Power Failure is running id 1063 | Monitoring...,null,1.476850e+12,10/19/2016 10:12:34,2016-10-19 10:12:34,2016-10-19 09:06:40
3,144406,992935710596,Power Failure is running id 1016 | Monitoring...,null,1.476850e+12,10/19/2016 10:14:22,2016-10-19 10:14:22,2016-10-19 09:06:40
4,144406,992935710849,Power Failure is running id 1043 | Monitoring...,null,1.476850e+12,10/19/2016 10:14:38,2016-10-19 10:14:38,2016-10-19 09:06:40

In [20]:
x.datetime_rcvd.describe()

count                  144406
unique                 141477
top       2016-10-30 05:00:07
freq                        8
first     2016-10-19 10:11:54
last      2017-03-23 16:58:24
Name: datetime_rcvd, dtype: object

In [21]:
#Add phonenumber: so this is phone number the 
x.ix[x.address=='Tcell',['address']] = 0
x['phone_number'] = pd.to_numeric(x['address'])

In [22]:
#Split message body into two parts
def split_message (str,i):
    if "|" in str:
        msgs = str.split('|')
        return msgs [i]
    elif ":" in str:
        msgs = str.split(':')
        return msgs [i]
    else:
        return 'body'

In [23]:
#Split messages
x['body_1'] = x.apply (lambda x: split_message (x['body'],0),axis=1)
x['body_2'] = x.apply (lambda x: split_message (x['body'],1),axis=1)

In [24]:
#Remove rows without Device ID
msg = x.body
to_drop = []
device_id = {}
for i,b in enumerate(msg):
    str = re.findall(r'\d+', b)
    if len(str)<1:
         print (i,'-', b)
         to_drop.append(i)
    else:
        device_id [i] = str[0]
    

#Check the rows to be remnoved
x.iloc[to_drop]

450 - Test SMS from Power Failure Monitor:Power Failure  is running ID
3165 - Power Back detected.
3167 - Power Back detected.
35018 - Test
49961 - ??????? ????? ?????? ??????? ???. ??????? ?????? ??? ???????????
103643 - Test SMS from Power Failure Monitor:Power Failure detected. Il
143801 - ?????
143802 - ?????????
143805 - ??????? ????? ?????? ??????? ???. ??????? ?????? ??? ???????????

,count,address,body,toa,date_sent,readable_date,datetime_rcvd,datetime_sent,phone_number,body_1,body_2
450,144406,992935711044,Test SMS from Power Failure Monitor:Power Fail...,null,1.476880e+12,10/19/2016 17:10:08,2016-10-19 17:10:08,2016-10-19 17:26:40,992935711044,Test SMS from Power Failure Monitor,Power Failure is running ID
3165,144406,992935710834,Power Back detected.,null,1.477040e+12,10/21/2016 13:50:19,2016-10-21 13:50:19,2016-10-21 13:53:20,992935710834,body,body
3167,144406,992935710834,Power Back detected.,null,1.477040e+12,10/21/2016 13:51:07,2016-10-21 13:51:07,2016-10-21 13:53:20,992935710834,body,body
35018,144406,+992938303656,Test,null,1.481120e+12,12/07/2016 18:29:39,2016-12-07 18:29:39,2016-12-07 19:13:20,992938303656,body,body
49961,144406,+992935821825,??????? ????? ?????? ??????? ???. ??????? ????...,null,1.482030e+12,12/18/2016 08:52:30,2016-12-18 08:52:30,2016-12-18 08:00:00,992935821825,body,body
103643,144406,992935710316,Test SMS from Power Failure Monitor:Power Fail...,null,1.486200e+12,02/04/2017 13:55:39,2017-02-04 13:55:39,2017-02-04 14:20:00,992935710316,Test SMS from Power Failure Monitor,Power Failure detected. Il
143801,144406,938303656,?????,null,0.000000e+00,03/22/2017 16:57:26,2017-03-22 16:57:26,1970-01-01 05:00:00,938303656,body,body
143802,144406,938303656,?????????,null,0.000000e+00,03/22/2017 16:57:43,2017-03-22 16:57:43,1970-01-01 05:00:00,938303656,body,body
143805,144406,+992938303656,??????? ????? ?????? ??????? ???. ??????? ????...,null,1.490190e+12,03/22/2017 17:29:22,2017-03-22 17:29:22,2017-03-22 18:40:00,992938303656,body,body

In [25]:
#Drop the rows now and add deviucxe id
print ('We are dropping %s rows with no device ID info'%len(to_drop))
x.drop(x.index[to_drop],inplace=True)

df_device_id = pd.DataFrame.from_dict(device_id, orient='index')
df_device_id.columns = ['device_id']
#Join device id with original df
x2 = pd.concat([x,df_device_id],axis=1, join='inner')
x = x2

We are dropping 9 rows with no device ID info

In [26]:
#Type of Message
def detect_message(row):
    if row['body'][:4]=='Test' or 'Test SMS' in row['body']:
        return 'test'
    elif row ['body_2'] == ' Monitoring... Power OK':
            return 'pon_mon'
    elif row ['body_2'] == ' Monitoring... Power Failure':
            return 'pfail_mon'
    elif row['body'][:19]== 'Power Back detected' or row ['body'][:10]== 'Power Back':
            return 'pback'
    elif row ['body'][:22]== 'Power Failure detected' or row ['body'][:13]== 'Power Failure':
            return 'pfail'
    else:
        return 'None'

In [27]:
#Generate message type variable
x['msg'] = x.apply(lambda r: detect_message(r),axis=1)

print ('Lets check messageb types...' + '\n', x.msg.value_counts())

#Drop rows with gibberish messages like below
print (x[x.msg=='None'].head())

#Drop rows with gibberish messages like below: only 2
x = x[x.msg != 'None']

Lets check messageb types...
 pon_mon      42907
pfail        42021
pback        40662
pfail_mon    17531
test          1273
None             3
Name: msg, dtype: int64
         count       address  \
46063   144406             0
77533   144406  992938809973
143989  144406             0

                                                     body   toa     date_sent  \
46063   ???????? ????????, ???????? ???? ????? ?461640...  null  1.481790e+12
77533   ??????? +992938809973 ?? ???? 1 ??? ???? ???  ...  null  1.483940e+12
143989  ???????? ????????, ?? ?????? ???? ???????? ???...  null  1.490210e+12

              readable_date       datetime_rcvd       datetime_sent  \
46063   12/15/2016 12:02:38 2016-12-15 12:02:38 2016-12-15 13:20:00
77533   01/09/2017 14:37:15 2017-01-09 14:37:15 2017-01-09 10:33:20
143989  03/23/2017 01:11:05 2017-03-23 01:11:05 2017-03-23 00:13:20

        phone_number                                            body_1 body_2  \
46063              0                                              body   body
77533   992938809973  ??????? +992938809973 ?? ???? 1 ??? ???? ???  10     26
143989             0                                              body   body

           device_id   msg
46063         461640  None
77533   992938809973  None
143989             0  None

In [28]:
x.msg.value_counts()

pon_mon      42907
pfail        42021
pback        40662
pfail_mon    17531
test          1273
Name: msg, dtype: int64

In [29]:
#Drop rows where message is test
x = x[x.msg!='test']

In [30]:
x.shape

(143121, 13)

In [31]:
#Alive-variable to indicate whether box is alive or not
#QUESTION: How about power back, shouldnt it also be alive?
x["alive"] = 0
x.ix[x.msg=="pfail_mon", ['alive']] = 1
x.ix[x.msg=="pon_mon", ['alive']] = 1

In [32]:
#Generate variables
def message_type(msg):
    if msg == 'pback':
        return 1
    elif msg == 'pfail':
        return 2
    elif msg == 'pfail_mon':
        return 3
    elif msg == 'pon_mon':
        return 4

In [33]:
#Message type-is the scale important here
x['msg_num'] = x.apply(lambda row: message_type(row['msg']), axis = 1)

In [34]:
#Check duplicates and drop duplicates
print ("Before dropping duplicates....", x.shape)
x.drop_duplicates(subset=['device_id', 'body', 'readable_date'], keep = 'first', inplace=True)
print ("After dropping duplicates....", x.shape)

Before dropping duplicates.... (143121, 15)
After dropping duplicates.... (143100, 15)

In [35]:
#Check duplicates and drop duplicates
print ("Before dropping duplicates....", x.shape)
x.drop_duplicates(subset=['device_id', 'body', 'readable_date'], keep = 'first', inplace=True)
print ("After dropping duplicates....", x.shape)

#print ("Before dropping duplicates....", x2.shape)
x.drop_duplicates(subset=['device_id', 'datetime_rcvd'], keep = 'first', inplace=True)
print ("After dropping duplicates....", x.shape)

Before dropping duplicates.... (143100, 15)
After dropping duplicates.... (143100, 15)
After dropping duplicates.... (143100, 15)

In [36]:
len (x.device_id.unique())

300

In [40]:
#Save this dataset as sms2
vars = ['device_id', 'datetime_rcvd','datetime_sent','body','msg','msg_num']

x = x[vars]

x.to_csv(data_dir + 'smsV2.csv',index=False)